:root{
  --bullet-point-radius: 20px;
  --default-bg-color: #fff;
}

.pageTitle{
  padding: 10px;
  margin-bottom: 10px;
}

.pageTitle>.title{
  outline: none;
  font-size: 40px;
  font-weight: bold;
  padding: 5px;
  width: max-content;
  border-bottom: 2px solid;
  border-color: transparent;
  /* border-radius: 10px; */
}

.pageTitle>.title:hover, .pageTitle>.title:focus {
  border-bottom-color: #cecece;
}

.backIcon{
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 15px;
  margin: 0px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.backIcon::before{
  content: '❮';
  position: relative;
}
.backIcon:hover{
  background-color: rgb(214, 214, 214);
}

.bulletPoint{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: black;
  border: 5px solid var(--default-bg-color);
  width: var(--bullet-point-radius);
  height: var(--bullet-point-radius);
  border-radius: 50%;
  cursor: pointer;
}

.bulletPoint:hover{
  border-color: rgb(141, 141, 141);
}

/* Accordion styles */

.accordian{
  /* display: inline-block; */

}

.tabs, .tab {
  overflow: hidden;
}

.tab-label{
  position: relative;
  padding-left: 40px;
}

.tab-label[data-action-type="accordianToggle"]::before{
  content: '❯';
  display: inline-block;
  position: relative;
  left: -5px;
  cursor: pointer;
  transition: all ease 0.35s;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  margin: 0 0.5em;
  transition: all ease 0.35s;
}

.tab.active>.tab-label {
  /* background-color: rgb(180, 180, 180); */
}
.tab.active>.tab-label::before {
  transform: rotate(90deg);
}
.tab.active>.tab-content {
  max-height: 100vh;
  padding: 1em;
}

