@media screen and (max-width: 1280px) {
    /* General */
    html {
        font-size: 16px;
    }
    section {
        padding: 36px 0;
    }
}

@media screen and (max-width: 980px){

}

@media screen and (max-width: 768px) {
    /* General */
    html {
        font-size: 14px;
    }
    section {
        padding: 22px 0;
    }
}

@media screen and (max-width: 480px) {
    /* General */
    html {
        font-size: 13px;
    }
    section {
        padding: 16px 0;
    }
}

@media screen and (max-width: 320px) {

}