
html {
    /* font size and scaling */
    line-height: var(--default-line-height);
    font-size: var(--default-font-size);

    /* color */
    color: var(--default-font-color);
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: var(--default-bg-color);
    color: var(--default-color);
    font-family: var(--default-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--default-font-size);
    font-weight: normal;
}

a {
    color: var(--default-link-color-unvisited);
}

/* Horizontal rule */

hr {
    height: 1px;
}

section {
    position: relative;
}


/* To be removed */
.wrapper {
    display: flex;
    flex-direction: column;
    max-width: var(--desktop-width);
    min-height: 100vh;
    margin: 0 auto;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.content-wrapper.content-wrapper--sidebar {
    padding-left: 240px;
    padding-bottom: 100px;
}

@media screen and (max-width: 480px) {
    .content-wrapper.content-wrapper--sidebar {
        padding-left: 56px;
        padding-bottom: 0;
    }
}

.content-wrapper.content-wrapper--fix-header {
    padding-top: 80px;
}

.container {
    width: 100%;
    flex: 0 0 auto;
    position: relative;
    max-width: var(--desktop-width);
    margin: 0 auto;
    padding: 0rem;
}

@media screen and (max-width: 980px) {
    .container {
        max-width: var(--tab-width);
        padding: 0rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: var(--phone-width);
        padding: 0rem;
    }
}

@media screen and (max-width: 480px) {
    .container {
        max-width: var(--sm-phone-width);
        padding: 0rem;
    }
}

.container.container--small {
    max-width: var(--tab-width);
}

@media screen and (max-width: 980px) {
    .container.container--small {
        max-width: var(--phone-width);
    }
}

.container-fluid {
    width: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

.center {
    text-align: center;
}