/* 
Pari-naked CSS reset's the dom to the current config as in the ruleSet below.
Important to keep it at the top of the page load, above any other CSS stylesheet, else bad things will happen.
*/
* {
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 1em;
  vertical-align: top;
  text-align: left;
  font-weight: normal;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
  resize: none;
}

table {
  border-collapse: collapse;
}