.accordian {
  position: relative;
}

.accordian .tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(105, 105, 105, 0.5);
  border: 1px solid rgb(207, 207, 207);
}

.accordian .tab {
  width: 100%;
  overflow: hidden;
}

.accordian .tab>input[type="checkbox"]:first-child,
.accordian .tab>input[type="radio"]:first-child {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordian .tab-label {
  display: flex;
  justify-content: flex-start;
  padding: 1em;
  background-color: var(--default-bg-color);
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0;
}

.accordian .tab-label:hover {
  background-color: rgb(211, 211, 211);
}

.accordian .tab-label::before {
  content: "\276F"; /* â¯ */
  width: 1em;
  height: 1em;
  text-align: center;
  transition: var(--transition-1);
}

.accordian .tab-content {
  max-height: 0;
  padding: 0;
  transition: var(--transition-1);
}

/* For CSS Version */
.accordian .tab>input:checked+.tab-label {
  background-color: rgb(180, 180, 180);
}

.accordian .tab>input:checked+.tab-label::before {
  transform: rotate(90deg);
}

.accordian .tab>input:checked~.tab-content {
  max-height: 100vh;
  padding: 1em;
}

/* For JS Version */
.tab.active>.tab-label::before {
  transform: rotate(90deg);
}

.tab.active>.tab-content {
  max-height: 100vh;
  padding: 1em;
}