.breadcrumb {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 .5em;
    background-color: var(--default-bg-color);
    user-select: none;
}

.breadcrumb .breadcrumb-list {
    list-style: none;
}

.breadcrumb li {
    display: inline-block;
    color: var(--default-placeholder-color);
    vertical-align: middle;
    font-size: 0.8em;
    line-height: 0.8;
}

.breadcrumb li:not(:last-child)::after {
    content: "→";
}

.breadcrumb li a{
    color: var(--default-placeholder-color);
    text-decoration: none;
}

.breadcrumb li a:hover,
.breadcrumb li:last-child a{
    color: var(--default-font-color);
}

.breadcrumb li:not(:last-child) a:hover
{
    text-decoration: underline;
}