.breadcrumb {
    position: relative;
    width: 100%;
    padding: .2em .5em;
    background-color: var(--default-bg-color);
    user-select: none;
}

.breadcrumb .breadcrumb-list {
    list-style: none;
}

.breadcrumb li {
    display: inline;
    color: var(--placeholder-color);
    font-size: 0.8em;
}

.breadcrumb li:not(:last-child)::after {
    content: "→";
}

.breadcrumb li a{
    color: var(--placeholder-color);
    text-decoration: none;
}

.breadcrumb li a:hover,
.breadcrumb li.active a{
    color: var(--default-font-color);
}

.breadcrumb li:not(.active) a:hover
{
    text-decoration: underline;
}