/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 1s;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

/* Right */
.tooltip .tooltiptext[data-tooltip-position="right"] {
    top: -5px;
    left: 105%;
}

.tooltip .tooltiptext[data-tooltip-position="right"]::after {
    top: 50%;
    right: 100%;
    /* To the left of the tooltip */
    margin-top: -5px;
}

/* Left */
.tooltip .tooltiptext[data-tooltip-position="left"] {
    top: -5px;
    right: 105%;
}

.tooltip .tooltiptext[data-tooltip-position="left"]::after {
    top: 50%;
    left: 100%;
    /* To the right of the tooltip */
    margin-top: -5px;
}

/* Top */
.tooltip .tooltiptext[data-tooltip-position="top"] {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext[data-tooltip-position="top"]::after {
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
}

/* Bottom */
.tooltip .tooltiptext[data-tooltip-position="bottom"] {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext[data-tooltip-position="bottom"]::after {
    bottom: 100%;
    /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
}

/* <div class="tooltip" data-tooltip-text="Tooltip text">Hover over me */
/* <span class="tooltiptext"></span> */
/* </div> */