.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--alert-padding);
    margin-bottom: var(--alert-margin-bottom);
    border-radius: var(--alert-border-radius);
    opacity: var(--alert-opacity);
    color: #fff;
    font-size: 18px;
    z-index: 1;
  }
 
  @media screen and (max-width: 768px) {
    .alert {
      font-size: 15.120000000000001px;
    }
  }

  @media screen and (max-width: 480px) {
    .alert {
      font-size: 13.68px;
    }
  }
  
  .alert .button-close {
    z-index: 2;
    width: rem(20);
    height: rem(20);
  }
  .alert .button-close:before,
  .alert .button-close:after {
    background-color: #fff;
  }
  .alert--primary {
    background-color: var(--primary-color);
  }
  .alert--success {
    background-color: var(--success-color);
  }
  .alert--danger {
    background-color: var(--danger-color);
  }
  .alert--warning {
    background-color: var(--warning-color);
  }
  .alert--light {
    background-color: var(--light-color);
  }
  .alert--dark {
    background-color: var(--dark-color);
  }
  .alert--purple {
    background-color: var(--purple-color);
  }
  