.card {
    background-color: var(--default-card-bg-color);
    padding: var(--card-padding);
    color: var(--default-font-color);
    border: 1px solid var(--alt-border-color);
    border-radius: var(--card-border-radius);
  }
  .card.card--shadow-always {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
  }
  .card.card--shadow {
    transition: var(--main-transition);
  }
  .card.card--shadow:hover {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
  }
  