.label {
    padding: var(--label-padding);
    white-space: nowrap;
    text-transform: uppercase;
    color: var(--default-bg-color);
  }
  .label--primary {
    background-color: var(--primary-color);
  }
  .label--success {
    background-color: var(--success-color);
  }
  .label--danger {
    background-color: var(--danger-color);
  }
  .label--warning {
    background-color: var(--warning-color);
  }
  .label--light {
    background-color: var(--light-color);
  }
  .label--dark {
    background-color: var(--dark-color);
  }
  .label--purple {
    background-color: var(--purple-color);
  }
  