.message-box__wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2002;
    background-color: var(--default-float-container-bg-color);
  }
  .message-box {
    position: relative;
    min-width: 400px;
    padding: rem(12) rem(14);
    background-color: var(--default-float-container-bg-color);
    border: 1px solid border-base;
    border-radius: var(--message-box-border-radius);
    z-index: 2000;
    overflow: hidden;
  }
  @media screen and (max-width: 768px) {
    .message-box {
      min-width: 336px;
    }
  }
  @media screen and (max-width: 480px) {
    .message-box {
      min-width: 240px;
    }
  }
  .message-box .button-close {
    width: rem(22);
    height: rem(22);
  }
  .message-box__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: rem(8);
    margin-bottom: rem(8);
  }
  .message-box__content {
    margin-bottom: rem(16);
  }
  .message-box__footer {
    text-align: right;
  }
  .message-box-title {
    font-size: var(--message-box-title-font-size);
  }
  